<div class="trainee-form">
  <h1>Entreprise</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="name" class="control-label col-xs-2">Nom:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="name" required [(ngModel)]="model.name">
			</div>
    </div>
    <div class="form-group">
      <label for="address" class="control-label col-xs-2">Adresse:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="address" required [(ngModel)]="model.address">
			</div>
    </div>
    <div class="form-group">
      <label for="zip-code" class="control-label col-xs-2">Code postal:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="zip-code" required [(ngModel)]="model.zipCode">
			</div>
    </div>
    <div class="form-group">
      <label for="city" class="control-label col-xs-2">Ville:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="city" required [(ngModel)]="model.city">
			</div>
    </div>
    <div class="form-group">
      <label for="landline" class="control-label col-xs-2">Téléphone:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="landline" required [(ngModel)]="model.phoneNumber">
			</div>
    </div>
    <div class="form-group">
      <label for="siret" class="control-label col-xs-2">SIRET:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="siret" required [(ngModel)]="model.SIRET">
			</div>
    </div>
    <div class="form-group">
      <label for="naf" class="control-label col-xs-2">NAF:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="naf" required [(ngModel)]="model.NAF">
			</div>
    </div>
    <div class="form-group">
      <label for="email" class="control-label col-xs-2">Mail:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="email" required [(ngModel)]="model.email">
			</div>
    </div>
    <div class="form-group">
      <label for="representative" class="control-label col-xs-2">Représentant:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="representative" required [(ngModel)]="model.representative">
			</div>
    </div>
  </form>
</div>
