<div class="trainee-form">
  <h1>Contrat</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="record" class="control-label col-xs-2">Numéro:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="record" required>
			</div>
    </div>
    <div class="form-group">
      <label for="trainingName" class="control-label col-xs-2">Formation:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="trainingName" required>
			</div>
    </div>
    <div class="form-group">
      <label for="trainingLevel" class="control-label col-xs-2">Niveau:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="trainingLevel" required>
			</div>
    </div>
    <div class="form-group">
      <label for="numberOfHours" class="control-label col-xs-2">Nombre d'heures:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="numberOfHours" required>
			</div>
    </div>
    <div class="form-group">
      <label for="tutorName" class="control-label col-xs-2">Nom du tuteur:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="tutorName" required>
			</div>
    </div>
    <div class="form-group">
      <label for="tutorPosition" class="control-label col-xs-2">Position du tuteur:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="tutorPosition" required>
			</div>
    </div>
    <div class="form-group">
      <label for="startDate" class="control-label col-xs-2">Date de début:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="startDate" required>
			</div>
    </div>
    <div class="form-group">
      <label for="endDate" class="control-label col-xs-2">Date de fin:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="endDate" required>
			</div>
    </div>
  </form>
</div>
