<div class="trainee-form">
  <h1>Contrat</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label for="record" class="control-label col-xs-2">Numéro:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="record" required [(ngModel)]="model.record">
			</div>
    </div>
    <div class="form-group">
      <label for="trainingName" class="control-label col-xs-2">Formation:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="trainingName" required [(ngModel)]="model.trainingName">
			</div>
    </div>
    <div class="form-group">
      <label for="trainingLevel" class="control-label col-xs-2">Niveau:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="trainingLevel" required [(ngModel)]="model.trainingLevel">
			</div>
    </div>
    <div class="form-group">
      <label for="numberOfHours" class="control-label col-xs-2">Nombre d'heures:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="numberOfHours" required [(ngModel)]="model.numberOfHours">
			</div>
    </div>
    <div class="form-group">
      <label for="tutorName" class="control-label col-xs-2">Nom du tuteur:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="tutorName" required [(ngModel)]="model.tutorName">
			</div>
    </div>
    <div class="form-group">
      <label for="tutorPosition" class="control-label col-xs-2">Position du tuteur:</label>
			<div class="col-xs-10">
				<input class="form-control"  type="text" id="tutorPosition" required [(ngModel)]="model.tutorPosition">
			</div>
    </div>
    <div class="form-group">
      <label for="startDate" class="control-label col-xs-2">Date de début:</label>
			<div class="col-xs-10 date">
        <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="fr-FR">
  				<input  class="form-control"  type="date" id="startDate" required [(ngModel)]="model.startDate">
          <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
        </div>
      </div>
    </div>
    <div class="form-group date">
      <label for="endDate" class="control-label col-xs-2">Date de fin:</label>
			<div class="col-xs-10 date">
        <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="fr-FR">
  				<input  class="form-control"  type="date" id="endDate" required [(ngModel)]="model.endDate">
          <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
        </div>
      </div>
    </div>
  </form>
</div>
